@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-background: #18181b;
  --col-text: #ffffff;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--col-background);
  color: var(--col-text);
}