@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --col-text: #ffffff;
  --col-background: #141414;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--col-text);
  background-color: var(--col-background);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: var(--col-background);
}
body::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0.05rem solid var(--col-background);
  border-radius: 18px;
}